<div class='container row'>
  <div class='col-6-sx text-center'

<h3>Search for an Link</h3>
<form>
  <input type='text' id='search' name='search'><br><br>
</form>

<h3>Add an Link</h3>

<form id='form'>
  Title:<br>
  <input type='text' id='title' name='title'><br><br>
  Url:<br>
  <input type='text' id='url' name='url'></input><br><br>
  <button class='save-btn' type='button'>Save</button>
</form>
  </div>
</div>

</div>
<div>
<h2 id="all-links-heading">Links</h2>
<section class='filter-buttons'>
  <button class='btn btn-default' id='all'>All</button>
  <button class='btn btn-default' id='read-button'>Read</button>
  <button class='btn btn-default' id='unread-button'>Unread</button>
  <button class='btn btn-default' id='alphabetiz'>Alphabetiz</button>
  <section>

<table class='table'>

  <thead>
    <tr>
      <th data-field="Title">Title</th>
      <th data-field="Url">Url</th>
      <th data-field="read_status">Read Status</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

